.navbar {
    background-color: #E31C33;
    padding-top:0;
    padding-bottom:0;
}

.navbar-brand {
    color: #f5f5f5;
}

.sign-out {
    font-size: 1.25rem;
    padding-top: 0.25rem; 
}

.sign-out .fa {
    color: #f5f5f5;
}